.layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";

    background-color: darkgray;
    padding: 1rem;
}